
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 16px; font-family: $mainFont; line-height: $mainLineHeight; }

#app { position: relative; width: 100%; margin: 0 auto; }

h1,
h2 { font: bold 28px/1.25 'Montserrat'; letter-spacing: -0.015em; }
h3 { font: bold 24px/1.2 'Montserrat'; }
// h4 { font: bold 21px/1.2 'Montserrat'; }
h5 { font: bold 18px/1.2 'Montserrat'; }
// h6 { font: bold 16px/1.2 'Montserrat'; }

p { font: 500 14px/1.25 'Montserrat'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

hr { background: $mainColor; }

.container { position: relative; width: 100%; margin: 0 auto; padding: 30px 15px; background: transparent; display: grid; grid-gap: 30px 15px; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content-app { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $mobileWidth_md) { width: $mobileWidth_md; padding: 30px; }
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; grid-gap: 30px; grid-template-columns: repeat(8, 1fr);
    .content-app { grid-column: 1 / 9; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; padding: 30px 45px; grid-template-columns: repeat(12, 1fr);
    .content-app { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; padding: 30px 180px; }
}

@media screen and (min-width: $mobileWidth_md) {
  h1 { font-size: 36px; line-height: 1.4; }
  h2 { font-size: 32px; line-height: 1.5; }

  p { font-size: 16px; line-height: 1.2; }
}
@media screen and (min-width: $tabletWidth) {
  h1 { font-size: 32px; line-height: 1.25; }
}
@media screen and (min-width: $laptopWidth) {
  h1 { font-size: 36px; line-height: 1.4; }
  h2 { font-size: 38px; line-height: 1.25; }

  p { font-size: 18px; }
}
@media screen and (min-width: $desktopWidth) {
  h1 { font-size: 48px; line-height: 1.25; }
  h2 { font-size: 42px; line-height: 1.2; }

  p { font-size: 20px; }

  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth_md) {
  h1 { font-size: 60px; line-height: 1.2; }

  p { font-size: 22px; }
}


/* Form styles */
form {
  fieldset { display: flex; }

  label { margin-bottom: 8px; color: $darkGrey; font: 500 12px/1.5 'Montserrat'; }
  textarea,
  input { width: 100%; border: 1px solid transparent; border-radius: 5px; background: $white; color: $mainColor; font: 500 14px/1 'Montserrat';
    &::placeholder { color: $darkGrey; }
    &:focus { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 86px; padding: 6px 10px; resize: none; }
  input { height: 43px; padding: 0 10px; }

  .radio { display: flex;
    label { position: relative; margin: 0; padding-left: 28px; color: $mainColor; font-size: 14px; line-height: 1.36; cursor: pointer; display: inline-block;
      &::before { @include pseudo; left: 0; top: 2px; width: 16px; height: 16px; border: 1px solid $lightBlue2; border-radius: 50%; background: $white; }
    }
    input[type=radio] { display: none;
      &:checked + label {
        &::before { border-color: $linkColor; }
        &::after { @include pseudo; left: 4px; top: 6px; width: 8px; height: 8px; border-radius: 50%; background: $linkColor; }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) {}
}

.button {
  a { height: 47px; border: 1px solid $linkColor; border-radius: 4px; padding: 0 24px; background: $linkColor; color: $white; font: 600 14px/1 'Montserrat'; text-align: center; display: inline-flex; justify-content: center; align-items: center;
    &:hover { color: $white; }

    img { width: 42px; height: 42px; margin-right: 20px; flex: none; }
  }

  &_main a { width: 100%; height: 80px; border-color: $accentColor; border-radius: 10px; padding: 0 20px; background: $accentColor; font-size: 16px; line-height: 1.6; }

  @media screen and (min-width: $mobileWidth_md) {
    &_main a { padding: 0 30px; font-size: 22px; line-height: 1; }
  }
  @media screen and (min-width: $laptopWidth) {
    &_main a { font-size: 20px; line-height: 1.2; }
  }
  @media screen and (min-width: $desktopWidth) {
    a:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $white; }

    &_main a { width: auto; }
  }
}


/* Layout styles */
// header { @include z('header');
//   .container { padding: 0 15px;
//     .header {}

//     @media screen and (min-width: $mobileWidth_md) { padding: 0 30px; }
//     @media screen and (min-width: $tabletWidth) {
//       .header {}
//     }
//     @media screen and (min-width: $desktopWidth) { padding: 0 45px;
//       .header {}
//     }
//     @media screen and (min-width: $desktopWidth_md) { padding: 0 180px; }
//   }
// }

main { @include z('main'); }

// footer { @include z('footer');
//   .container {
//     .footer {}

//     @media screen and (min-width: $tabletWidth) {
//       .footer {}
//     }
//     @media screen and (min-width: $desktopWidth) {
//       .footer {}
//     }
//   }
// }


/* Module styles */
@import 'module/popup';


/* Page styles */
@import 'page/suppliers';
