extends include/main

block variables
  - let title = 'XCOM Поставщики'
  - let page = 'suppliers'

block content
  section#suppliers
    .container
      .suppliers.content-app
        .suppliers__title
          h1
            | Станьте поставщиком 
            br
            | интернет-магазина
            br
            span Xcom-shop
        .suppliers__lead Откройте новые возможности для роста и развития своего бизнеса!
        .suppliers__image
          img(src='/image/illustration/1.png' srcset='/image/illustration/1@2x.png 2x' loading='eager' alt='illustration')
        .suppliers__button
          .button.button_main
            a.open-popup(href='#become-a-supplier' title='Стать поставщиком в один клик')
              img(src='/image/icon/touch.svg' alt='icon')
              | Стать поставщиком в&nbsp;один&nbsp;клик
  section#sup-about
    .container
      .sup-about.content-app
        .sup-about__info
          img(src='/image/icon/check.svg' alt='icon')
          p
            b Xcom-shop
            |  гарантирует своим партнерам стабильный канал продаж и разнообразные программы стимулирования, маркетинговую и техническую поддержку. Мы создаем и поддерживаем партнерские отношения со всеми нашими поставщиками, а сотрудничество строим на принципах честности и прозрачности.
        .sup-about__title
          h2 Xcom-shop сегодня
        ul.sup-about-list
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/1.svg' alt='icon')
            .sup-about-list__group
              .sup-about-list__text
                p Входит в ТОП-10 крупнейших интернет-магазинов РФ в категории «Электроника и техника»
              .sup-about-list__note
                | данные 
                a(href='#' target='_blank' title='Data Insight') Data Insight
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/2.svg' alt='icon')
            .sup-about-list__text
              p Более 1 миллиона уникальных посетителей сайта в месяц
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/3.svg' alt='icon')
            .sup-about-list__text
              p Более 300 тысяч активных клиентов
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/4.svg' alt='icon')
            .sup-about-list__text
              p
                | Собственные склады в Москве и Санкт-Петербурге площадью более 10 000 м
                sup 2
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/5.svg' alt='icon')
            .sup-about-list__text
              p Более 100 тысяч товаров в каталоге
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/6.svg' alt='icon')
            .sup-about-list__text
              p 613 товарных групп (постоянно увеличивается)
          li.sup-about-list__item
            .sup-about-list__icon.sup-about-list__icon_wide
              img(src='/image/icon/7.svg' alt='icon')
            .sup-about-list__text
              p Оперативная доставка по всей России
          li.sup-about-list__item
            .sup-about-list__icon
              img(src='/image/icon/8.svg' alt='icon')
            .sup-about-list__text
              p Эффективный online- и offline- маркетинг
        .sup-about__button
          .button.button_main
            a.open-popup(href='#become-a-supplier' title='Хочу стать поставщиком')
              img(src='/image/icon/touch.svg' alt='icon')
              | Хочу стать поставщиком
  section#sup-cooperation
    .container
      .sup-cooperation.content-app
        .sup-cooperation__title
          h2
            | Три простых шага к сотрудничеству с&nbsp;
            span Xcom-shop
        .sup-cooperation__group
          .sup-cooperation__desc
            ul.sup-cooperation-steps
              li.sup-cooperation-steps__item
                .sup-cooperation-steps__count 01
                .sup-cooperation-steps__text
                  p Заполните заявку и дождитесь обратной связи от наших менеджеров
              li.sup-cooperation-steps__item
                .sup-cooperation-steps__count 02
                .sup-cooperation-steps__text
                  p Обсудите с менеджером категории, цены и условия поставки
              li.sup-cooperation-steps__item
                .sup-cooperation-steps__count.sup-cooperation-steps__count_last 03
                .sup-cooperation-steps__text
                  p Подпишите договор и подготовьте товар к отгрузке
            .sup-cooperation__info
              .sup-cooperation__icon
                img(src='/image/icon/emails.svg' alt='icon')
              p
                | Или просто отправьте коммерческое предложение на 
                a(href='mailto:razvitie@xcom.ru' title='Напишите нам') mail@xcomshop.ru
          form.sup-cooperation-form(name='cooperation' autocomplete='off')
            fieldset.sup-cooperation-form__line
              .sup-cooperation-form__column
                label(for='name') ФИО
                input#name(type='text' name='name' required placeholder='Иванов Иван Иванович' value='' title='ФИО')
            fieldset.sup-cooperation-form__line
              .sup-cooperation-form__column
                label(for='company') Компания
                input#company(type='text' name='company' required placeholder='Ваша компания' value='' title='Компания')
            fieldset.sup-cooperation-form__line
              .radio
                input#type-phone(type='radio' name='type' value='phone' checked)
                label(for='type-phone') Номер телефона
              .radio
                input#type-email(type='radio' name='type' value='email')
                label(for='type-email') Почта
            fieldset.sup-cooperation-form__line.contact.contact_phone
              .sup-cooperation-form__column
                label(for='phone') Мобильный телефон
                input#phone(type='tel' name='phone' required placeholder='+7 (000) 000-00-00' value='' title='Мобильный телефон')
            fieldset.sup-cooperation-form__line.contact.contact_email
              .sup-cooperation-form__column
                label(for='email') Почта
                input#email(type='email' name='email' placeholder='mail@company.ru' value='' title='Почта')
            .sup-cooperation-form__button
              .button.button_send.button_disabled
                a(href='#' title='Отправить') Отправить
            .sup-cooperation-form__link
              p
                | Нажимая на кнопку «Отправить», вы даёте разрешение на&nbsp;
                a(href='https://www.xcom-shop.ru/pages/privacy_policy/' target='_blank' title='Ознакомиться с нашей политикой конфиденциальности') обработку персональных данных
                | .
