
$white                     : #ffffff;
$darkGrey                  : #686b74;
$lightBlue                 : #ecf3f9;
$lightBlue2                : #b2d0e8;

/* Font options */
$mainColor                 : #333333;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Montserrat', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(51, 51, 51, .66);

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_md            : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1200px;
$desktopWidth_md           : 1920px;

/* Primary colors */
$backgroundColor           : #ffffff;
$linkColor                 : #0069ab;
$linkColor_hover           : #236fb1;
$accentColor               : #ff8400;
$accentColor_light         : #fcefe0;
$successColor              : #0069ab;
$errorColor                : #dc2d4a;

$infoColor                 : #236fb1;
$infoNoteColor             : #e5f0f9;

$overlayBackground         : rgba(0, 0, 0, .3);
