
/* Popup */
#popup { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; overflow: auto; display: none; @include z('popup');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  .overlay { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh; background: $overlayBackground; overflow-x: hidden; display: none; @include z('popup-overlay');
    &__close { position: fixed; left: 0; top: 0; width: 100%; height: 100%; }

    .module { position: relative; left: 50vw; width: calc(100% - 30px); border-radius: 10px; margin: 60px 0; background: $white; opacity: 0; overflow: hidden; display: none; transform: translate(-50%, 0);
      &_center { top: 50vh; margin: 30px 0; transform: translate(-50%, -50%);

        /* Добавляет сглаживание */
        // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
      }

      &__close { position: absolute; top: 30px; right: 30px;
        svg { width: 20px; height: 20px; fill: $darkGrey; }
      }

      /* Стать поставщиком */
      &#become-a-supplier { padding: 70px 26px 26px; background: $lightBlue;
        .become-a-supplier { width: 100%;
          &__title { margin-bottom: 20px;
            h5 { text-align: center; }
          }

          &-form {
            &__line { margin-bottom: 32px;
              &.contact_email { display: none; }

              .radio { width: calc((100% - 16px) / 2);
                &:not(:last-child) { margin-right: 16px; }
              }
            }
            &__column { width: 100%; display: flex; flex-direction: column; }
            &__button { margin-bottom: 32px; display: flex; justify-content: center; }
            &__link p { color: $darkGrey; font-size: 14px; line-height: 1.36; text-align: center; }
          }
        }
      }

      /* Заявка отправлена */
      &#success { padding: 40px 38px;
        .success { width: 100%;
          &__icon { margin-bottom: 30px; display: flex; justify-content: center;
            img { width: 80px; height: 80px; flex: none; }
          }
          &__title { margin-bottom: 16px;
            h3 { text-align: center; }
          }
          &__text { margin-bottom: 30px;
            p { font-weight: normal; line-height: 1.5; text-align: center; }
          }
          &__button { display: flex; justify-content: center; }
        }
      }

      @media screen and (min-width: $mobileWidth_md) { width: calc(100% - 60px);
        &#become-a-supplier {
          .become-a-supplier {
            &-form {
              &__line .radio { width: auto;
                &:not(:last-child) { margin-right: 32px; }
              }
            }
          }
        }
      }
      @media screen and (min-width: $laptopWidth) { width: 600px;
        &_center { margin: 0; }

        &__close:hover svg { fill: $linkColor_hover; }

        &#become-a-supplier { padding: 66px 56px 50px;
          .become-a-supplier {
            &__title { margin-bottom: 58px; }
          }
        }

        &#success { padding: 44px;
          .success {
            &__icon { margin-bottom: 40px;
              img { width: 100px; height: 100px; }
            }
            &__title { margin-bottom: 30px; }
            &__text { margin-bottom: 60px;
              p { font-size: 18px; line-height: 30px; }
            }
          }
        }
      }
    }
  }
}
