block variables

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title #{ title }

    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')

    // icon & css
    link(href='/favicon.svg' rel='icon')
  body
    #app
      //- include header
      main
        block content
      include popup
      //- include footer

    // js
