// popup
#popup
  .overlay
    .overlay__close.close-popup
    // стать поставщиком
    .module.module_center#become-a-supplier
      a.module__close.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .become-a-supplier
        .become-a-supplier__title
          h5
            | Станьте поставщиком
            br
            | интернет-магазина xcom-shop
        form.become-a-supplier-form(name='cooperation' autocomplete='off')
          fieldset.become-a-supplier-form__line
            .become-a-supplier-form__column
              label(for='popup-name') ФИО
              input#popup-name(type='text' name='name' required placeholder='Иванов Иван Иванович' value='' title='ФИО')
          fieldset.become-a-supplier-form__line
            .become-a-supplier-form__column
              label(for='popup-company') Компания
              input#popup-company(type='text' name='company' required placeholder='Ваша компания' value='' title='Компания')
          fieldset.become-a-supplier-form__line
            .radio
              input#popup-type-phone(type='radio' name='type' value='phone' checked)
              label(for='popup-type-phone') Номер телефона
            .radio
              input#popup-type-email(type='radio' name='type' value='email')
              label(for='popup-type-email') Почта
          fieldset.become-a-supplier-form__line.contact.contact_phone
            .become-a-supplier-form__column
              label(for='popup-phone') Мобильный телефон
              input#popup-phone(type='tel' name='phone' required placeholder='+7 (000) 000-00-00' value='' title='Мобильный телефон')
          fieldset.become-a-supplier-form__line.contact.contact_email
            .become-a-supplier-form__column
              label(for='popup-email') Почта
              input#popup-email(type='email' name='email' placeholder='mail@company.ru' value='' title='Почта')
          .become-a-supplier-form__button
            .button.button_send.button_disabled
              a(href='#' title='Отправить') Отправить
          .become-a-supplier-form__link
            p
              | Нажимая на кнопку «Отправить», вы даёте разрешение на&nbsp;
              a(href='https://www.xcom-shop.ru/pages/privacy_policy/' target='_blank' title='Ознакомиться с нашей политикой конфиденциальности') обработку персональных данных
              | .
    // заявка отправлена
    .module.module_center#success
      a.module__close.close-popup(href='#' title='Закрыть окно')
        svg
          use(href='/image/icon/close.svg#close')
      .success
        .success__icon
          img(src='/image/icon/success.svg' alt='icon')
        .success__title
          h3 Ваша заявка отправлена
        .success__text
          p В ближайшее время с Вами свяжется наш менеджер
        .success__button
          .button
            a.close-popup(href='#' title='Хорошо') Хорошо
