
/* Suppliers page */
#suppliers {
  .container { padding: 70px 15px 20px;
    .suppliers {
      &__title { margin-bottom: 24px;
        h1 { text-align: center;
          span { color: $accentColor; text-transform: lowercase; white-space: nowrap; }
        }
      }
      &__lead { font-weight: 500; font-size: 18px; line-height: 1.25; text-align: center; }
      &__image { margin-top: 24px; display: flex; justify-content: center;
        img { width: 100%; flex: none; }
      }
      &__button { margin-top: 57px; }
    }

    @media screen and (min-width: $mobileWidth_md) { padding: 100px 30px 50px;
      .suppliers {
        &__title { margin-bottom: 34px; }
        &__lead { font-size: 24px; line-height: 1.83; }
        &__image { margin-top: 10px; }
        &__button { margin-top: 60px; }
      }
    }
    @media screen and (min-width: $tabletWidth) { padding: 124px 30px 50px;
      .suppliers { grid-column: 1 / 5; min-height: 436px;
        &__title { margin: 0 -44px 48px 0;
          h1 { text-align: left; }
        }
        &__lead { font-size: 20px; line-height: 1.5; text-align: left; }
        &__image { position: absolute; top: 80px; right: 0; width: 417px; margin: 0; z-index: -1;
          img { width: 417px; }
        }
        &__button { position: absolute; left: calc((100% - 512px) / 2); bottom: 50px; width: 512px; margin: 0; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 130px 30px 80px;
      .suppliers {
        &__lead { margin-right: 30px; font-size: 24px; line-height: 1.8; }
        &__image { top: 100px; right: -15px; width: 600px;
          img { width: 600px; }
        }
        &__button { position: relative; left: auto; bottom: auto; width: auto; margin: 60px 60px 0 0; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 117px 45px 100px;
      .suppliers { grid-column: 1 / 7;
        &__title { margin-bottom: 56px; }
        &__lead { margin-right: 120px; }
        &__image { right: 0; width: 700px;
          img { width: 700px; }
        }
        &__button { margin-top: 80px; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: 161px 180px 266px;
      .suppliers {
        &__title { margin-bottom: 70px; }
        &__lead { margin-right: 180px; }
        &__image { top: 80px; right: 118px; width: 942px;
          img { width: 942px; }
        }
        &__button { margin-top: 70px; }
      }
    }
  }
}

#sup-about {
  .container { padding: 20px 15px 80px;
    .sup-about {
      &__info { position: relative; border-radius: 18px; margin-bottom: 80px; padding: 35px 18px; background: $infoColor; display: flex; flex-direction: column; align-items: center;
        &::after { @include pseudo; left: calc((100% - 60px) / 2); bottom: -16px; width: 60px; height: 60px; border-radius: 12px; background: $infoColor; transform: rotate(45deg); z-index: -1; }

        img { width: 80px; height: 80px; margin-bottom: 27px; flex: none; }
        p { color: $white; line-height: 1.4; text-align: center; }
      }
      &__title { margin-bottom: 57px;
        h2 { text-align: center; }
      }

      &-list { display: flex; flex-direction: column;
        &__item { display: flex; align-items: center;
          &:first-child { align-items: flex-start; }
          &:not(:last-child) { margin-bottom: 40px; }
        }
        &__icon { margin-right: 18px; flex: none;
          img { width: 50px; height: 50px; }

          &_wide { margin-right: 8px;
            img { width: 60px; }
          }
        }
        &__note { border-radius: 4px; margin-top: 13px; padding: 8px; background: $infoNoteColor; color: $linkColor; font-size: 12px; display: inline-flex;
          a { margin-left: 4px; text-decoration: underline; }
        }
      }

      &__button { margin-top: 60px; }
    }

    @media screen and (min-width: $mobileWidth_md) { padding: 50px 30px;
      .sup-about {
        &__info { margin-bottom: 125px; padding: 32px 22px 44px 32px;
          img { margin-bottom: 32px; }
        }
        &__title { margin-bottom: 80px; }

        &-list {
          &__item:not(:last-child) { margin-bottom: 50px; }
          &__icon { margin-right: 50px;
            &_wide { margin-right: 40px; }
          }
          &__note { margin-top: 15px; }
        }
      }
    }
    @media screen and (min-width: $tabletWidth) {
      .sup-about {
        &__info { flex-direction: row; padding: 32px 24px;
          img { margin: 0 30px 0 0; }
          p { text-align: left; }
        }

        &-list { flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - 36px) / 4); flex-direction: column;
            &:first-child { align-items: center; }
            &:not(:last-child) { margin: 0; }
            &:not(:nth-child(4n)) { margin-right: 12px; }
            &:nth-child(-n+4) { margin-bottom: 80px; }
          }
          &__icon { margin: 0 0 32px;
            &_wide { margin-right: 0; }
          }
          &__group { display: flex; flex-direction: column; align-items: center; }
          &__text p { font-size: 12px; line-height: 1.67; text-align: center; }
          &__note { margin: 0; }
        }

        &__button { width: 428px; margin: 60px auto 0; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 50px 30px 70px;
      .sup-about {
        &__info { margin-bottom: 148px; padding: 38px 50px 44px;
          img { width: 120px; height: 120px; margin-right: 44px; }
          p { line-height: 1.56; }
        }

        &-list {
          &__item:nth-child(-n+4) { margin-bottom: 60px; }
          &__icon { margin-bottom: 40px;
            img { width: 68px; height: 68px; }

            &_wide img { width: 85px; }
          }
          &__text p { font-size: 16px; line-height: 1.78; }
          &__note { margin-top: 18px; }
        }

        &__button { width: auto; margin: 80px 0 0 0; display: flex; justify-content: center; }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 90px 45px 70px;
      .sup-about {
        &__info { padding: 35px 52px 34px;
          img { margin-right: 64; }
          p { line-height: 1.5; }
        }
        &__title { margin-bottom: 100px; }

        &-list {
          &__item:nth-child(-n+4) { margin-bottom: 75px; }
          &__icon {
            img { width: 80px; height: 80px; }

            &_wide img { width: 100px; }
          }
          &__text p { font-size: 18px; }
          &__note { margin-top: 10px; }
        }

        &__button { margin-top: 100px; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: 90px 180px;
      .sup-about {
        &__info { margin-bottom: 168px; padding: 44px 75px 54px;
          p { line-height: 1.36; }
        }

        &-list {
          &__item:nth-child(-n+4) { margin-bottom: 100px; }
          &__note { margin-top: 18px; }
        }
      }
    }
  }
}

#sup-cooperation {
  .container { padding: 20px 15px 100px;
    .sup-cooperation {
      &__title { margin-bottom: 57px;
        h2 { text-align: center;
          span { color: $accentColor; text-transform: lowercase; white-space: nowrap; }
        }
      }

      &-steps { margin-bottom: 60px;
        &__item { display: flex; flex-direction: column; align-items: center;
          &:not(:last-child) { margin-bottom: 70px; }
        }
        &__count { position: relative; width: 80px; height: 80px; border-radius: 10px; margin-bottom: 35px; background: $linkColor; color: $white; font-weight: 600; font-size: 32px; line-height: 1.38; text-align: center; display: flex; justify-content: center; align-items: center; flex: none;
          &_last { background: $accentColor; }
        }
        &__text p { font-size: 18px; line-height: 1.6; text-align: center; }
      }

      &__info { border: 2px solid $accentColor; border-radius: 10px; margin-bottom: 40px; display: flex; flex-direction: column; align-items: center;
        p { margin-bottom: 13px; font-size: 16px; line-height: 1.5; text-align: center; }
      }
      &__icon { width: 100%; height: 80px; border-radius: 10px; margin-bottom: 13px; background: $accentColor_light; display: flex; justify-content: center; align-items: center; flex: none;
        img { width: 48px; height: 48px; }
      }

      &-form { border-radius: 8px; padding: 32px; background: $lightBlue;
        &__line { margin-bottom: 32px;
          &.contact_email { display: none; }

          .radio { width: calc((100% - 16px) / 2);
            &:not(:last-child) { margin-right: 16px; }
          }
        }
        &__column { width: 100%; display: flex; flex-direction: column; }
        &__button { margin-bottom: 32px; display: flex; justify-content: center; }
        &__link p { color: $darkGrey; font-size: 14px; line-height: 1.36; text-align: center; }
      }
    }

    @media screen and (min-width: $mobileWidth_md) { padding: 50px 30px 100px;
      .sup-cooperation {
        &__title { margin-bottom: 80px; }

        &-steps { margin-bottom: 70px;
          &__item { flex-direction: row; }
          &__count { margin: 0 50px 0 0;
            &::after { @include pseudo; left: 25px; bottom: -55px; width: 30px; height: 30px; background: transparent url('/image/icon/arrow.svg') center no-repeat; }

            &_last::after { display: none; }
          }
          &__text p { font-size: 20px; text-align: left; }
        }

        &__info { margin-bottom: 60px; flex-direction: row;
          p { margin: 0; font-size: 17px; line-height: 1.78; text-align: left; }
        }
        &__icon { width: 80px; margin: 0 38px 0 0; }

        &-form {
          &__line .radio { width: auto;
            &:not(:last-child) { margin-right: 32px; }
          }
        }
      }
    }
    @media screen and (min-width: $tabletWidth) { padding: 50px 30px 184px;
      .sup-cooperation {
        &__group { display: flex; justify-content: space-between; }
        &__desc { width: 270px; margin-right: 30px; }

        &-steps { margin-bottom: 60px;
          &__item { flex-direction: column; align-items: flex-start;
            &:not(:last-child) { margin-bottom: 57px; }
          }
          &__count { width: 60px; height: 60px; margin: 0 0 24px; font-size: 30px;
            &::after { display: none; }
          }
          &__text p { font-size: 16px; line-height: 1.5; }
        }

        &__info { position: absolute; left: 30px; bottom: 100px; width: calc(100% - 60px); margin: 0;
          p { font-size: 14px; }
        }

        &-form { width: 390px; align-self: flex-start; }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 50px 30px 120px;
      .sup-cooperation {
        &__desc { width: calc((100% - 30px) / 2); }

        &-steps { margin-bottom: 70px;
          &__item { flex-direction: row; align-items: center;
            &:not(:last-child) { margin-bottom: 84px; }
          }
          &__count { width: 70px; height: 70px; margin: 0 36px 0 0; font-size: 32px; line-height: 1.38;
            &::after { left: 20px; bottom: -57px; display: block; }

            &_last::after { display: none; }
          }
          &__text { margin-right: 30px; }
        }

        &__info { position: relative; left: auto; bottom: auto; width: 100%;
          p { font-size: 16px; line-height: 1.78; }
        }
        &__icon { margin-right: 22px; }

        &-form { width: calc((100% - 30px) / 2); }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 50px 45px 120px;
      .sup-cooperation {
        &__title { margin-bottom: 100px; }

        &-steps { margin-bottom: 65px;
          &__item:not(:last-child) { margin-bottom: 72px; }
          &__count { width: 80px; height: 80px; margin-right: 42px;
            &::after { left: 25px; bottom: -51px; }
          }
          &__text { margin-right: 60px; }
        }

        &__info p { font-size: 18px; }
        &__icon { margin-right: 42px; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) { padding: 50px 180px 140px;
      .sup-cooperation {
        &__desc { width: calc((100% - 180px) / 2); margin-right: 180px; }

        &-form { width: calc((100% - 180px) / 2); }
      }
    }
  }
}
